#footer {
    background-color: #000000;
    color: #ffff;
    font-family: sans-serif;
    padding: 5px 0px 10px 15px;
}

#footer h3 {
    font-size: 1.25rem;
    padding-top:.8em;
}
@media (max-width:768px) {
    #footer h3 {
        font-size: 14px;
        color: #fff;
        text-align: center;
    }
  }